# Dependencies
node_modules/

# Environment variables
**.env
.env

# Optional but common:
dist/          # build output
coverage/      # test coverage
.DS_Store      # macOS system files
*.log          # log files
.commandcode

.vscode
**.sql
.gitignore
